body{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
header{
    display: grid;
}
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: palevioletred;
}
#navbar img{
    height: 40px;
    width: 40px;
}
img{
    height: 225px;
    width: 100%;
    object-fit: contain;
    padding: 0px;
}
.arrow{
    height: 10px;
    width: 30px;
}
main{
    display: grid;
    min-height: 100px;
    background-color: antiquewhite;
}
#content {
    padding: 10px;
    margin: 40px;
    display: grid;
    gap: 40px;
}

#content div {
    background-color: white;
    row-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
}
div{
    text-align: center;
}

h1{
    color: palevioletred;
}
#footer{
    display: grid;
    background-color: grey;
    color: white;
    height: 150px;
    place-items: center;
}
@media only screen and (min-width:600px){
main{
    place-items: center;
    min-height: 70vh;
}
#content{
    max-width: 1080px;;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    min-height: 70vh;
}
#second{
    align-self: end;
}

}